{% extends 'base.html' %}
{% block header %}
  {% block title %}
    Creating/Visualizing Solids of Known Volume
  {% endblock %}
{% endblock %}

{% block content %}
<form action="/create/">
<p>Pick a Type of Solid to Create:</p>
  <select name="solid_type">
    <option value="solid_revolution">Solid of Revolution</option>
    <option value="cross_triangle">Solid with Triangle Cross Sections</option>
    <option value="cross_square">Solid with Square Cross Sections</option>
    <option value="cross_semicircle">Solid with Semicircle Cross Sections</option>
  </select>

<p>Pick the file types you want:</p>
  <input type="checkbox" name="formats" value="stl" checked="checked">STL File for importing to 3D Modelling Software<br>
  <input type="checkbox" name="formats" value="plot" checked="checked">3D plotted points<br>
  <input type="checkbox" name="formats" value="jscad">OpenJsCAD file for convenient viewing on <a href="https://openjscad.org" target="_blank">openjscad.org</a><br>
  <input type="checkbox" name="formats" value="scad">OpenSCAD file for usage in OpenSCAD modelling software<br>

  <hr/>
  <span class="card" style="display:block;">
    <b>extra options: (experimental)</b><br>
    <input type="checkbox" name="extra_options" value="wireframe">wireframe (not sure what happens)
    <input type="checkbox" name="extra_options" value="invert">invert (fixes inside-out)
    <input type="checkbox" name="extra_options" value="debug">basic form (reduced form)
  </span>

  {% set textparams =  [
    ('Lower Limit','lower_limit','-3.0'),
    ('Upper Limit','upper_limit','3.0'),
    ('Precision','precision','0.1'),
    ('Offset','offset','0'),
    ] %}
    {% set areaparams = [
      ('Lower Function','lower_func','0'),
      ('Upper Function','upper_func','math.sqrt(9-x**2)'),
    ] %}

  <div class="base-grid">
    {% for param in textparams %}
    <span id="form_{{param[1]}}">
      <label class="med_wide" for="{{param[1]}}">{{param[0]}}</label>
      <input class="med_wide" type="text" name="{{param[1]}}" value="{{param[2]}}">
      {% if loop.index != 0 and loop.index%2==0 %}
        <style>
          #form_{{param[1]}} {
            float: right;
          }
        </style>
      {% endif %}
    </span>
    {% endfor %}
  </div>
  {% for param in areaparams %}
  <span id="form_{{param[1]}}">
    <label class="lg_wide" for="{{param[1]}}">{{param[0]}} <a href="https://en.wikibooks.org/wiki/Python_Programming/Basic_Math" target="_blank">math reference</a></label>
    <textarea class="lg_wide" type="text" name="{{param[1]}}" rows="5" placeholder="add your Python math expression here
    example: math.sqrt(5**2+math.pi)">{{param[2]}} + 0</textarea>
    <br/>
  </span>
  {% endfor %}
  <input type="submit">
  <hr/>
  <button onclick="localStorage.clear(); window.location('/');">Reset</button>
  {% block created_content %}{% endblock %}
</form>
<script>
$(document).ready(function(){
  var names = ['lower_limit','upper_limit','precision','offset'];
  var textnames = ['lower_func','upper_func'];

  let localSolidType = localStorage.getItem('solid_type');
  if (localSolidType != null) $("select[name='solid_type']").val(localSolidType);

  for ( let name of names) {
    let val = $('input[name='+name+']').val();
    let local = localStorage.getItem(name);
    console.log(local);
    $('input[name="'+name+'"]').val(local != null ? local : val);
  }

  for ( let name of textnames) {
    let val = $('input[name='+name+']').val();
    let local = localStorage.getItem(name);
    console.log(local);
    $('textarea[name="'+name+'"]').val(local != undefined ? local : val);
  }

  var tf_checked = $('input[name="formats"]')
  for (var i = 0; i<tf_checked.length; i++ ){

    let name = tf_checked[i].value
    let bool = tf_checked[i].checked
    let empty = localStorage.getItem("format_"+name) == null;
    let local = localStorage.getItem("format_"+name) =='true'; // FILL IN
    tf_checked[i].checked = !empty ? local : bool;
    console.log("t/f checked",local);
  }
  var extra_options = $('input[name="extra_options"]')
  for (var i = 0; i<extra_options.length; i++ ){

    let name = extra_options[i].value
    let bool = extra_options[i].checked
    let empty = localStorage.getItem("extra_options_"+name) == null;
    let local = localStorage.getItem("extra_options_"+name) =='true'; // FILL IN
    extra_options[i].checked = !empty ? local : bool;
    console.log("t/f checked",local);
  }
  
  $('form').on('submit',function(e){
    for ( let name of names) {
      let val = $('input[name="'+name+'"]').val();
      console.log(val);
      localStorage.setItem(name,val);
    }
    for ( let name of textnames) {
      let val = $('textarea[name="'+name+'"]').val();
      console.log(val);
      localStorage.setItem(name,val);
    }
    for (let el of tf_checked ){
      let name = el.value
      let bool = el.checked
      let local = localStorage.setItem("format_"+name,bool) // FILL IN
    }
    for (let el of extra_options ){
      let name = el.value
      let bool = el.checked
      let local = localStorage.setItem("extra_options_"+name,bool) // FILL IN
    }
    let valSolidType = $("select[name='solid_type']").val();
    localStorage.setItem('solid_type',valSolidType);
  });
});

</script>
{% endblock %}