.base-grid {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 3;
    width:400px;
}
.base-grid span:nth-child(2n) {
    grid-column:2;
}
.base-grid span:nth-child(n+1):nth-child(2-n) {
    grid-row:1;
}
.base-grid span:nth-child(n+3):nth-child(4-n) {
    grid-row:2;
}

.med_wide {
    width:150px;
    display: block; 
}

.lg_wide {
    width:400px;
    display: block; 
}
body {
    width: 100%;
}
.card {
    width: 50%;
    padding: 10px 10px 10px 10px;
    margin-bottom: 5px;
    margin-right: 5px;
    border: 1px solid black;
    border-radius: 5px;
}

@media only screen and (max-width: 800px){
    .card {
        width: 400px;
    }
}
@media only screen and (max-width: 450px){
    .card {
        width: 90%;
    }
    .lg_wide {
        width:90%;
    }
    .base-grid span:nth-child(2n) {
        grid-column:unset;
    }
}